body{
  margin:0;
  
  
  
}


#containerGame{


display: flex;
justify-content: center;
flex-direction:column;

border: 1px solid black;
/*align-items: center;*/
/*height: 390px;*/



}

#cnv{

background-color: grey;


}

#btnValid{

 
min-width: 0;
height:50px;
  
}



